.menu {
    background-color: #331343;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center; 
    
}
.logo {
    color: #63e3a0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt
 
 }

 
header {
    background-color: #1e0f24;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;   
}

a {
    text-decoration: none;
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #63e3a0; 
    color: white; 
    font-weight: 600;
    border: none;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
